@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base{
    @font-face {
        font-family: 'DMSans-Bold';
        src: url("../fonts/DMSans-Bold.ttf");
    }
    @font-face {
        font-family: 'DMSans-Medium';
        src: url("../fonts/DMSans-Medium.ttf");
    }
    @font-face {
        font-family: 'DMSans-Regular';
        src: url("../fonts/DMSans-Regular.ttf");
    }
    @font-face {
        font-family: 'DMSans-Thin';
        src: url("../fonts/DMSans-Thin.ttf");
    }
    @font-face {
        font-family: 'DMSans-ThinItalic';
        src: url("../fonts/DMSans-ThinItalic.ttf");
    }
    @font-face {
        font-family: "ArsenicaTrial-Demibold";
        src: url("../fonts/ArsenicaTrial-Demibold.ttf");
    }
    @font-face {
        font-family: "ArsenicaTrial-Bold";
        src: url("../fonts/ArsenicaTrial-Bold.ttf");
    }
}


.body{
    @apply 
    bg-violet-800 /*bg-[url('./baground_img.png')]*/ 
    w-full 
    h-full;
}
.main_container{
    @apply 
    inline-flex 
    w-full 
    flex-col 
    items-center;
}
.topbar_container{
    @apply 
    h-[70px] 
    fixed 
    inline-flex 
    items-center 
    justify-start 
    rounded-md 
    mt-[15px]
    z-10;
}
    .topbar_logo_container{
        @apply
        w-[50px]
        h-[50px]
        ml-[10px];
    }
    .topbar_logo_router{
        @apply 
        h-full 
        inline-flex 
        items-center 
        justify-center 
        rounded-md 
        mr-[5px] 
        w-full
        bg-blue-200/0
        text-white;
    }
    .topbar_burger, .topbar_color, .topbar_language{
        @apply 
        h-full 
        w-[100px] 
        inline-flex 
        items-center 
        justify-center 
        rounded-md 
        mr-[5px] 
        bg-blue-200/0
        text-white;
    }
    .topbar_logo_img{
        @apply 
        rounded-[5px];
    }
    .topbar_burger_img{
        @apply
        w-[40px];
    }
    .scroll_menu_container{
        @apply 
        fixed 
        inline-flex
        items-start
        justify-start
        top-[120px];
    }
        .scroll_menu_text_container{
            @apply
            bg-green-800
            rounded-[10px]
            duration-[0.5s] 
            ease-in-out 
            overflow-x-hidden
            w-[0px]
            h-full;
        }
            .scroll_menu_home{
                @apply
                text-[20px]
                font-[DMSans-Bold]
                mt-[30px]
                ml-[30px]
                duration-[0.3s] 
                ease-in-out 
                text-white
                hover:bg-gray-500/0
                hover:text-gray-300
                hover:cursor-pointer;
            }
            .scroll_menu_about{
                @apply
                text-[20px]
                font-[DMSans-Bold]
                mt-[20px]
                ml-[30px]
                mb-[30px]
                duration-[0.3s] 
                ease-in-out 
                text-white
                hover:bg-gray-500/0
                hover:text-gray-300
                hover:cursor-pointer;
            }
            .scroll_menu_animations_internet, .scroll_menu_animations_crypto, .scroll_menu_animations_cyber{
                @apply
                text-[20px]
                font-[DMSans-Bold]
                mt-[10px]
                ml-[30px]
                duration-[0.3s] 
                ease-in-out     
                text-white
                hover:bg-gray-500/0
                hover:text-gray-300
                hover:cursor-pointer;
            }
            .scroll_menu_animations_internet_tcpip, .scroll_menu_animations_crypto_rsa, .scroll_menu_animations_cyber_nmap{
                @apply
                text-[20px]
                font-[DMSans-Bold]
                ml-[30px]
                duration-[0.3s] 
                ease-in-out 
                text-gray-400
                hover:bg-gray-500/0
                hover:text-gray-300
                hover:cursor-pointer
                block border-l 
                pl-4 
                border-current;
            }
.router_container{
    @apply
    inline-flex
    flex-col
    items-end
    bg-yellow-200;
}            
    .router_flex_container{
        @apply
        inline-flex
        flex-col
        bg-purple-400
        duration-[0.5s]
        ease-in-out;
    }
.home_container_title{
    @apply 
    w-full
    mt-[120px] 
    inline-flex 
    flex-col
    justify-center 
    items-start 
    pb-[60px] 
    bg-yellow-400/0
    text-white
    bg-blue-300;
}
    .home_title_01{
        @apply 
        text-[140px] 
        font-[ArsenicaTrial-Bold];
    }
    .home_title_02{
        @apply 
        text-[20px] 
        font-[DMSans-Bold];
    }
    .home_title_03{
        @apply 
        text-[15px] 
        font-[DMSans-Regular] 
        mt-[20px];
    }
    .home_title_04{
        @apply 
        text-[15px] 
        font-[DMSans-ThinItalic];
    }
.home_container_about{
    @apply 
    mt-[200px] 
    mb-[30px] 
    w-full
    inline-flex 
    flex-col
    justify-start 
    items-start 
    duration-[0.5s]
    ease-in-out 
    text-white
    bg-orange-500/0
    p-[30px];
}
    .home_about_01{
        @apply 
        text-[30px] 
        font-[DMSans-Bold];
    }


.internetprotocols_container{
    @apply 
    w-full
    mt-[120px]
    mb-[30px] 
    p-[30px]
    inline-flex 
    flex-col
    justify-start 
    items-start 
    pb-[60px] 
    bg-yellow-400/0
    text-white
    bg-blue-300;
}
    .internetprotocols_title{
        @apply 
        text-[30px] 
        font-[DMSans-Bold];
    }
    .internetprotocols_list_container{
        @apply
        mt-[40px]
        inline-flex
        flex-col;
    }
        .internetprotocols_tcpip_container{
            @apply
            mb-[20px]
            inline-flex
            flex-row
            items-center
            p-[10px]
            duration-[0.2s]
            ease-in-out 
            hover:cursor-pointer;
        }
            .internetprotocols_tcpip_title{
                @apply
                text-[30px]
                font-[DMSans-Bold]
                mr-[20px];
            }



.footer_container{
    @apply
    w-full
    h-full
    bg-red-400;
}