*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.12 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

@font-face {
  font-family: 'DMSans-Bold';

  src: url("../fonts/DMSans-Bold.ttf");
}

@font-face {
  font-family: 'DMSans-Medium';

  src: url("../fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: 'DMSans-Regular';

  src: url("../fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: 'DMSans-Thin';

  src: url("../fonts/DMSans-Thin.ttf");
}

@font-face {
  font-family: 'DMSans-ThinItalic';

  src: url("../fonts/DMSans-ThinItalic.ttf");
}

@font-face {
  font-family: "ArsenicaTrial-Demibold";

  src: url("../fonts/ArsenicaTrial-Demibold.ttf");
}

@font-face {
  font-family: "ArsenicaTrial-Bold";

  src: url("../fonts/ArsenicaTrial-Bold.ttf");
}

@font-face {
  font-family: "UbuntuMono-Regular";

  src: url("../fonts/UbuntuMono-Regular.ttf");
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.resize {
  resize: both;
}

.border {
  border-width: 1px;
}

.text-justify {
  text-align: justify;
}

.outline {
  outline-style: solid;
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur {
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-lg {
  --tw-backdrop-blur: blur(16px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-xl {
  --tw-backdrop-blur: blur(24px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  height: 100%;
  width: 100%;
  background-color: rgb(91 33 182 / 0);
  background-attachment: fixed;
}

.main_container {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.topbar_container {
  position: fixed;
  z-index: 10;
  margin-top: 0px;
  display: inline-flex;
  height: 70px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.375rem;
}

.topbar_container_left {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

.topbar_container_right {
  display: inline-flex;
  height: 100%;
  width: 150px;
}

.topbar_logo_container {
  margin-left: 10px;
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
}

.topbar_burger {
  margin-left: 20px;
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.topbar_burger:hover {
  cursor: pointer;
}

.topbar_logo_router {
  margin-right: 5px;
  display: inline-flex;
  height: 50px;
  width: 100px;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.topbar_fast_links {
  margin-right: 5px;
  margin-left: 20px;
  display: inline-flex;
  height: 100%;
  width: 80px;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.header_language {
  margin-right: 10px;
  margin-left: 5px;
  display: inline-flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.header_language:hover {
  cursor: pointer;
}

.topbar_theme {
  margin-right: 5px;
  display: inline-flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.topbar_theme:hover {
  cursor: pointer;
}

.topbar_theme_rounded {
  display: inline-flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgb(156 163 175 / 0.3);
  transition-property: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.topbar_theme_rounded:hover {
  background-color: rgb(156 163 175 / 0.5);
}

.topbar_theme_img {
  height: 35px;
  width: 35px;
  transition-property: 0.6s;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.language_flag_img {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.language_country_name {
  display: inline-flex;
  height: 40px;
  width: 90px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: rgb(156 163 175 / 0.3);
  font-family: DMSans-Regular;
}

.language_country_name:hover {
  background-color: rgb(156 163 175 / 0.5);
}

.header_language_dropdown {
  position: absolute;
  right: 0px;
  top: 70px;
  z-index: 1;
  display: none;
}

.header_language_dropdown:hover {
  cursor: pointer;
}

.header_language_dropdown a {
  float: none;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.header_language_dropdown a:hover {
  cursor: pointer;
  background-color: rgb(255 255 255 / 0.4);
}

.topbar_logo_img {
  border-radius: 5px;
}

.topbar_burger_img {
  height: 35px;
  width: 35px;
}

.scroll_menu_container {
  position: fixed;
  top: 120px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.scroll_menu_text_container {
  height: 100%;
  width: 0px;
  overflow-x: hidden;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(22 101 52 / var(--tw-bg-opacity));
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll_menu_home {
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: #0090ff1f;
  font-family: DMSans-Bold;
  font-size: 20px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll_menu_home:hover {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.scroll_menu_animations,
            .scroll_menu_github {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: transparent;
  font-family: DMSans-Bold;
  font-size: 20px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll_menu_animations:hover,
            .scroll_menu_github:hover {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.scroll_menu_animations_internet, 
            .scroll_menu_animations_cryptography, 
            .scroll_menu_animations_codingtheory, 
            .scroll_menu_animations_cybersecurity {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: transparent;
  font-family: DMSans-Bold;
  font-size: 20px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll_menu_animations_internet:hover, 
            .scroll_menu_animations_cryptography:hover, 
            .scroll_menu_animations_codingtheory:hover, 
            .scroll_menu_animations_cybersecurity:hover {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.scroll_menu_animations_internet_tcpip, 
            .scroll_menu_animations_internet_bgprip, 
            .scroll_menu_animations_internet_dns, 
            .scroll_menu_animations_internet_routingq, 
            .scroll_menu_animations_codingtheory_rs, 
            .scroll_menu_animations_codingtheory_bch, 
            .scroll_menu_animations_codingtheory_zip,
            .scroll_menu_animations_codingtheory_jpeg,
            .scroll_menu_animations_codingtheory_h264,
            .scroll_menu_animations_cryptography_rsa, 
            .scroll_menu_animations_cryptography_diffiehellman,
            .scroll_menu_animations_cybersecurity_nmap,
            .scroll_menu_animations_cybersecurity_bufferoverflow,
            .scroll_menu_animations_cybersecurity_ddos {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border-color: currentColor;
  background-color: transparent;
  padding-left: 5px;
  font-family: DMSans-Bold;
  font-size: 20px;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll_menu_animations_internet_tcpip:hover, 
            .scroll_menu_animations_internet_bgprip:hover, 
            .scroll_menu_animations_internet_dns:hover, 
            .scroll_menu_animations_internet_routingq:hover, 
            .scroll_menu_animations_codingtheory_rs:hover, 
            .scroll_menu_animations_codingtheory_bch:hover, 
            .scroll_menu_animations_codingtheory_zip:hover,
            .scroll_menu_animations_codingtheory_jpeg:hover,
            .scroll_menu_animations_codingtheory_h264:hover,
            .scroll_menu_animations_cryptography_rsa:hover, 
            .scroll_menu_animations_cryptography_diffiehellman:hover,
            .scroll_menu_animations_cybersecurity_nmap:hover,
            .scroll_menu_animations_cybersecurity_bufferoverflow:hover,
            .scroll_menu_animations_cybersecurity_ddos:hover {
  cursor: pointer;
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.scroll_menu_home_text,
                .scroll_menu_animations_text,
                .scroll_menu_github_text,
                .scroll_menu_animations_internet_text,
                .scroll_menu_animations_codingtheory_text,
                .scroll_menu_animations_cryptography_text,
                .scroll_menu_animations_cybersecurity_text {
  margin-left: 10px;
}

.router_container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(254 240 138 / 0);
}

.router_flex_container {
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(192 132 252 / 0);
  /*duration-[0.5s]
        ease-in-out;*/
}

.home_container_title {
  margin-top: 120px;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(147 197 253 / 0);
  padding-bottom: 60px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.home_title_01 {
  font-family: ArsenicaTrial-Bold;
  font-size: 140px;
}

.home_title_02 {
  font-family: DMSans-Bold;
  font-size: 20px;
}

.home_title_03 {
  margin-top: 20px;
  font-family: DMSans-Regular;
  font-size: 15px;
}

.home_title_04 {
  font-family: DMSans-ThinItalic;
  font-size: 15px;
}

.home_container_about {
  margin-top: 200px;
  margin-bottom: 30px;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.home_about_01 {
  font-family: DMSans-Bold;
  font-size: 30px;
}

.internetprotocols_container {
  margin-top: 120px;
  margin-bottom: 30px;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(147 197 253 / 0);
  padding: 30px;
  padding-bottom: 60px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.internetprotocols_title {
  font-family: DMSans-Bold;
  font-size: 30px;
}

.internetprotocols_list_container {
  margin-top: 40px;
  display: inline-flex;
  flex-direction: column;
}

.internetprotocols_tcpip_container {
  margin-bottom: 20px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.internetprotocols_tcpip_container:hover {
  cursor: pointer;
}

.internetprotocols_tcpip_title {
  margin-right: 20px;
  font-family: DMSans-Regular;
  font-size: 30px;
}

.tcpip_container {
  margin-top: 100px;
  margin-bottom: 0px;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: rgb(250 204 21 / 0);
  padding: 0px;
  padding-bottom: 55px;
  text-align: justify;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tcpip_tabs_container {
  display: inline-flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: rgb(255 255 255 / 0);
}

.tcpip_tabs_container:hover {
  cursor: pointer;
}

.tab_animacio, .tab_teoria, .tab_info {
  display: inline-flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgb(255 0 0 / 0);
  font-family: DMSans-Regular;
  font-size: 15px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tab_animacio_hr {
  position: absolute;
  bottom: 0px;
  width: 150px;
  border-radius: 5px;
  border-top-width: 3px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  transition-property: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tab_teoria_hr, .tab_info_hr {
  position: absolute;
  bottom: 0px;
  width: 150px;
  border-radius: 5px;
  border-top-width: 3px;
  border-color: #ffffff75;
  transition-property: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tcpip_content_container {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 50px;
}

.tcpip_container_02 {
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(250 204 21 / 0);
  text-align: justify;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tcpip_container_03 {
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(250 204 21 / 0);
  padding: 50px;
  padding-bottom: 60px;
  text-align: justify;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tcpip_title, .tcpip_animation_tittle, .tcpip_theory_tittle {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: baseline;
  font-family: DMSans-Bold;
  font-size: 35px;
}

.tcpip_title_02 {
  font-family: DMSans-Bold;
  font-size: 25px;
}

.tcpip_title_intro {
  display: inline-flex;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
  font-family: DMSans-Regular;
  font-size: 16px;
}

.tcpip_title_intro_text {
  height: 100%;
  width: 100%;
}

/*.tcpip_arpanet_image_container{
                    @apply
                    w-[80%]
                    h-full
                    ml-[50px]
                    inline-flex
                    items-start
                    justify-center;
                }*/

.arpanet_image {
  float: right;
  margin-left: 50px;
  margin-bottom: 20px;
  width: 40%;
  border-radius: 10px;
}

.tcpip_animation_container {
  position: relative;
  display: inline-flex;
  height: 100%;
  width: 100%;
  cursor: grab;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(255 255 255 / 0);
  padding: 10px;
}

.tcpip_animation_container_tittle {
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
  width: 100%;
  flex-direction: row-reverse;
  font-family: DMSans-Bold;
  font-size: 22px;
}

.buttons_container {
  z-index: 10;
  display: inline-flex;
  width: 100%;
  align-items: center;
  background-color: rgb(252 211 77 / 0);
  padding-bottom: 10px;
}

.tcpip_play, .tcpip_pause, .tcpip_restart, .tcpip_stepback {
  margin-right: 10px;
  height: 65px;
  background-color: rgb(255 255 255 / 0);
  padding: 3px;
}

.play_button_image, .pause_button_image, .restart_button_image, .stepback_button_image {
  height: 100%;
}

.arrow_button_image {
  width: 40px;
}

.tcpip_opcions_arrows {
  margin-left: 10px;
  height: 40px;
  width: 60px;
  background-color: rgb(0 0 0 / 0.5);
  font-size: 10px;
}

.tcpip_opcions {
  margin-left: 10px;
  height: 40px;
  width: 60px;
  background-color: rgb(0 0 0 / 0.5);
  font-size: 10px;
}

.information_popup_container {
  pointer-events: auto;
  position: absolute;
  top: 7px;
  right: 14px;
  z-index: 20;
  display: inline;
  background-color: rgb(250 204 21 / 0);
}

.information_popup_img_container {
  height: 7px;
  width: 7px;
}

.information_popup_img {
  height: 100%;
  width: 100%;
}

.information_popup_img:hover {
  opacity: 0.7;
}

.information_popup_text {
  position: absolute;
  top: 7px;
  right: 7px;
  display: none;
  height: auto;
  width: 100px;
  border-radius: 2px;
  background-color: rgb(255 255 255 / 1);
  padding: 5px;
  font-size: 4px;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  opacity: 0;
  transition-property: 0.4s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tcpip_wrapper_out {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tcpip_wrapper_in {
  display: inline-flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  background-color: rgb(52 211 153 / 0);
  padding: 0px;
}

.tcpip_wrapper_in_left {
  display: inline-flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  background-color: #dcdcdc78;
  padding-top: 15px;
  padding-bottom: 20px;
}

.tcpip_terminal_container, 
                        .tcpip_router_dns_container,
                        .tcpip_server_container {
  display: inline-flex;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.terminal_container, 
                            .router_dns_container,
                            .server_container {
  display: inline-flex;
  height: 100%;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  background-color: rgb(139 92 246 / 0);
  vertical-align: middle;
}

.terminal_image_container, 
                                .router_dns_image_container,
                                .server_image_container {
  display: inline-flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(34 197 94 / 0);
}

.terminal_image_container:hover, 
                                .router_dns_image_container:hover,
                                .server_image_container:hover {
  cursor: pointer;
}

.terminal_image,
                                .server_image {
  height: 100%;
}

.router_dns_image {
  height: 70%;
  width: 100%;
}

.terminal_tag_text_container, 
                                .router_dns_tag_text_container,
                                .server_tag_text_container {
  display: inline-flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(239 68 68 / 0);
}

.terminal_tag_text, 
                                    .router_dns_tag_text,
                                    .server_tag_text {
  font-family: DMSans-Bold;
  font-size: 15px;
}

.router_info_container {
  display: inline-flex;
  justify-content: space-evenly;
}

.client_info_container {
  height: 100%;
  width: 100px;
  background-color: rgb(100 116 139 / 0);
  padding-left: 7px;
  font-size: 8px;
}

.client_info_title {
  font-family: DMSans-Bold;
  font-size: 10px;
}

.client_info_ip, 
                                    .client_info_mac, 
                                    .client_info_mask {
  display: inline-flex;
}

.client_info_ip_input,
                                        .client_info_mac_input,
                                        .client_info_mask_input {
  margin-left: 5px;
  border-style: none;
  background-color: transparent;
  font-family: DMSans-Bold;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.terminal_input_container {
  pointer-events: none;
  position: absolute;
  top: 12px;
  left: 46px;
  display: inline-flex;
  height: 90px;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: rgb(248 113 113 / 0);
}

.terminal_input, .terminal_input_copy {
  pointer-events: auto;
  position: absolute;
  z-index: 20;
  height: 10px;
  width: 73px;
  border-style: none;
  background-color: transparent;
  text-align: start;
  font-size: 6px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  outline-width: 0px;
}

.terminal_input::-moz-placeholder, .terminal_input_copy::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.terminal_input::placeholder, .terminal_input_copy::placeholder {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.terminal_input_copy {
  z-index: 19;
}

.datagrama_container {
  position: absolute;
  left: 300px;
  height: 100px;
  width: 200px;
}

.datagrama_layer_04 {
  height: 100%;
  width: 100%;
  background-color: rgb(239 68 68 / 0.7);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.datagrama_layer_03 {
  height: 100%;
  width: 100%;
  background-color: rgb(59 130 246 / 0.7);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.datagrama_layer_02 {
  height: 100%;
  width: 100%;
  background-color: rgb(34 197 94 / 0.7);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.datagrama_layer_01 {
  height: 100%;
  width: 100%;
  background-color: rgb(249 115 22 / 0.7);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.datagrama_l01_text_container {
  height: 100px;
  width: 200px;
  --tw-bg-opacity: 1;
  background-color: rgb(139 92 246 / var(--tw-bg-opacity));
  font-size: 5px;
}

.datagrama_l01_text {
  width: 100%;
}

.tcpip_left_layer_04_container {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(249 115 22 / 0.3);
}

.tcpip_left_layer_04_container:hover {
  cursor: pointer;
  background-color: rgb(253 186 116 / 0.7);
}

.tcpip_left_layer_03_container {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-flex;
  height: 100%;
  background-color: rgb(34 197 94 / 0.3);
}

.tcpip_left_layer_03_container:hover {
  cursor: pointer;
  background-color: rgb(134 239 172 / 0.7);
}

.tcpip_left_layer_02_container {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-flex;
  height: 100%;
  background-color: rgb(59 130 246 / 0.3);
}

.tcpip_left_layer_02_container:hover {
  cursor: pointer;
  background-color: rgb(147 197 253 / 0.7);
}

.tcpip_left_layer_01_container {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  display: inline-flex;
  height: 100%;
  background-color: rgb(239 68 68 / 0.3);
}

.tcpip_left_layer_01_container:hover {
  cursor: pointer;
  background-color: rgb(252 165 165 / 0.7);
}

.tcpip_left_layer_00_container {
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 10px;
  display: inline-flex;
  background-color: rgb(0 0 0 / 0.2);
}

.tcpip_left_layer_00_container:hover {
  cursor: pointer;
  background-color: rgb(0 0 0 / 0.7);
}

.tcpip_left_layer_04 {
  display: inline-flex;
  height: 100%;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgb(249 115 22 / 1);
  text-align: center;
  font-size: 7px;
}

.tcpip_left_layer_03 {
  display: inline-flex;
  height: 100%;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgb(34 197 94 / 1);
  text-align: center;
  font-size: 7px;
}

.tcpip_left_layer_02 {
  display: inline-flex;
  height: 100%;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgb(59 130 246 / 1);
  text-align: center;
  font-size: 7px;
}

.tcpip_left_layer_01 {
  display: inline-flex;
  height: 100%;
  width: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgb(239 68 68 / 1);
  text-align: center;
  font-size: 7px;
}

.tcpip_left_layer_04_cache {
  pointer-events: auto;
  position: relative;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.tcpip_left_layer_04_cache_img {
  pointer-events: none;
  position: relative;
  z-index: 6;
  height: 100%;
  padding: 3px;
}

.tcpip_left_layer_04_cache_input_container {
  position: absolute;
  top: 26px;
  right: 15px;
  z-index: 5;
  display: inline-flex;
  height: 23px;
  width: 63px;
  flex-direction: column;
  background-color: rgb(255 255 255 / 0);
  padding: 2px;
}

.tcpip_left_layer_04_cache_input_container_sub_text {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  font-size: 4px;
}

.tcpip_left_layer_04_cache_input_container_sub_text_0 {
  width: 100%;
  text-align: center;
}

.tcpip_left_layer_04_cache_input_container_sub {
  margin-bottom: 2px;
  display: inline-flex;
  height: 100%;
  width: 100%;
  background-color: rgb(59 130 246 / 0);
}

.tcpip_left_layer_04_cache_input {
  pointer-events: auto;
  height: 100%;
  width: 100%;
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
  border-style: none;
  background-color: rgb(255 255 255 / 0.1);
  text-align: center;
  font-size: 3px;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.tcpip_wrapper_in_middle {
  margin-left: 90px;
  margin-right: 90px;
  display: inline-flex;
  height: 100%;
  width: 85%;
  flex-direction: column;
  border-radius: 10px;
  background-color: #dcdcdc78;
  padding-top: 15px;
  padding-bottom: 20px;
}

.tcpip_middle_layer_04_container {
  margin-top: 15px;
  margin-left: 20px;
  display: inline-flex;
  height: 100%;
  background-color: rgb(249 115 22 / 0);
}

.tcpip_middle_layer_04_container:hover {
  cursor: pointer;
  background-color: rgb(253 186 116 / 0);
}

.tcpip_middle_layer_03_container {
  margin-top: 15px;
  margin-left: 20px;
  display: inline-flex;
  height: 100%;
  background-color: rgb(34 197 94 / 0);
}

.tcpip_middle_layer_03_container:hover {
  cursor: pointer;
  background-color: rgb(134 239 172 / 0);
}

.tcpip_middle_layer_02_container {
  margin-top: 15px;
  display: inline-flex;
  height: 100%;
  background-color: rgb(59 130 246 / 0.3);
}

.tcpip_middle_layer_02_container:hover {
  cursor: pointer;
  background-color: rgb(147 197 253 / 0.7);
}

.tcpip_middle_layer_01_container {
  margin-top: 15px;
  display: inline-flex;
  height: 100%;
  background-color: rgb(239 68 68 / 0.3);
}

.tcpip_middle_layer_01_container:hover {
  cursor: pointer;
  background-color: rgb(252 165 165 / 0.7);
}

.tcpip_middle_layer_04 {
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(249 115 22 / 1);
  text-align: center;
  font-size: 10px;
}

.tcpip_middle_layer_03 {
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(34 197 94 / 1);
  text-align: center;
  font-size: 10px;
}

.tcpip_middle_layer_02 {
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(59 130 246 / 1);
  text-align: center;
  font-size: 10px;
}

.tcpip_middle_layer_01 {
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(239 68 68 / 1);
  text-align: center;
  font-size: 10px;
}

.tcpip_wrapper_in_right {
  display: inline-flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  background-color: #dcdcdc78;
  padding-top: 15px;
  padding-bottom: 20px;
}

.tcpip_right_layer_04_container {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 0px;
  display: inline-flex;
  height: 100%;
  flex-direction: row-reverse;
  background-color: rgb(249 115 22 / 0.3);
}

.tcpip_right_layer_04_container:hover {
  cursor: pointer;
  background-color: rgb(253 186 116 / 0.7);
}

.tcpip_right_layer_03_container {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 0px;
  display: inline-flex;
  height: 100%;
  flex-direction: row-reverse;
  background-color: rgb(34 197 94 / 0.3);
}

.tcpip_right_layer_03_container:hover {
  cursor: pointer;
  background-color: rgb(134 239 172 / 0.7);
}

.tcpip_right_layer_02_container {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 0px;
  display: inline-flex;
  height: 100%;
  flex-direction: row-reverse;
  background-color: rgb(59 130 246 / 0.3);
}

.tcpip_right_layer_02_container:hover {
  cursor: pointer;
  background-color: rgb(147 197 253 / 0.7);
}

.tcpip_right_layer_01_container {
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 0px;
  display: inline-flex;
  height: 100%;
  flex-direction: row-reverse;
  background-color: rgb(239 68 68 / 0.3);
}

.tcpip_right_layer_01_container:hover {
  cursor: pointer;
  background-color: rgb(252 165 165 / 0.7);
}

.tcpip_right_layer_04 {
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(249 115 22 / 1);
  text-align: center;
  font-size: 10px;
}

.tcpip_right_layer_03 {
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(34 197 94 / 1);
  text-align: center;
  font-size: 10px;
}

.tcpip_right_layer_02 {
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(59 130 246 / 1);
  text-align: center;
  font-size: 10px;
}

.tcpip_right_layer_01 {
  display: inline-flex;
  height: 100%;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(239 68 68 / 1);
  text-align: center;
  font-size: 10px;
}

.tcpip_text_container {
  margin-top: 0px;
  display: inline-flex;
  flex-direction: column;
}

.footer_container {
  margin-top: 50px;
  margin-bottom: 30px;
  display: inline-flex;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(248 113 113 / 0);
}

.footer_github, .footer_ddd, .footer_text {
  margin-right: 40px;
  display: inline-flex;
  height: 50px;
  width: auto;
  align-items: center;
  font-family: DMSans-Regular;
  font-size: 14px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.footer_github:hover, .footer_ddd:hover, .footer_text:hover {
  cursor: pointer;
  color: rgb(255 255 255 / 0.7);
}

.footer_github_img, .footer_ddd_img {
  margin-right: 10px;
  margin-left: 10px;
  width: 30px;
}